@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>blazor_ecommerce_app</PageTitle>

<CascadingValue Value="Auth">
<div class="page">
   

    <main> 
        
            <NavMenu
                 Auth="Auth"
                />
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<ToastComponent/>
</CascadingValue>
@code{
    public AuthModel Auth;



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Auth = await localStorage.GetItemAsync<AuthModel>("auth_token");
        if (Auth == null)
        {
            Auth = new();
        }
        StateHasChanged();
    }

}
