@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>Auctioner</PageTitle>


<div class="page">
   <CascadingValue IsFixed=true TValue="@AuthModel" Value="@Auth">

    <main> 
        
            <NavMenu
                 Auth="Auth"
                />
        
        <article class="content px-4">
            @Body
        </article>
    </main>
    </CascadingValue>
</div>
<ToastComponent/>

@code{
    public AuthModel Auth { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Auth = await localStorage.GetItemAsync<AuthModel>("auth_token");
            if (Auth == null)
            {
                Auth = new AuthModel();
            }

            StateHasChanged(); 
        }

    }

}
