<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">blazor_ecommerce_app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (Auth != null && Auth.Id > 0)
        {
            <li class="nav-item dropdown navbar-nav">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account managment
            </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <a class="dropdown-item nav-link" href="/newauction">Create new auction</a>
                    <a class="dropdown-item nav-link" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item nav-link" href="#">more action</a>
            </div>
        </li> 
        }
            <ul class="navbar-nav ml-auto pt-1">
                @if(Auth == null || Auth.Id <= 0){
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            }
         
            </ul>
    
    </div>
</nav>

@code {


    [Parameter]
    public AuthModel Auth { get; set; }



}
