@inject IWebHostEnvironment WebHostEnvironment
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    @*     <RadzenImage Path="@(DB.SD.ImageHelper.GetImageDataUrl(Logo,".png"))" Style="width: 75px; height: 75px; border-radius: 0%;" /> *@
        <a class="navbar-brand" href="#">Auctioner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (User != null && User.Id > 0)
        {
            <li class="nav-item dropdown navbar-nav">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Zarządzaj kontem
            </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <a class="dropdown-item nav-link" href="/newauction">Stwórz nową aukcję</a>
                    <a class="dropdown-item nav-link" href="/myprofile">Mój profil</a>
                    <a class="dropdown-item nav-link" href="/auctionswon">Wygrane aukcje</a>


            </div>
        </li> 
        }
            <ul class="navbar-nav ml-auto pt-1">
            @if (User == null || User.Id <= 0)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/login">Zaloguj się</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Rejestracja</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <span class="nav-link">Witaj, @User.Username</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Wyloguj się</a>
                </li>
            }
         
            </ul>
    
    </div>
</nav>

@code {

    public DB.Models.AuthModel User { get; set; }

    public byte[] Logo
    {
        get; set;
    }
    protected override async Task OnInitializedAsync()
    {
        User = await CustomAuthProvider.GetUser();
        var filePath = Path.Combine(WebHostEnvironment.WebRootPath, "img", "logo.webp");
        Logo = File.ReadAllBytes(filePath);
    }


}
