@page "/register";

<div class="col-12">


    <div class="col-4 mx-auto">
        <Syncfusion.Blazor.DataForm.SfDataForm 
                Model="@Model"  
                OnSubmit="RegisterHandle"
        >
            <div class="mb-3 text-center">
                <img src="/img/login.jpg" style="max-height:5rem" />
                <h3>Register</h3>
            </div>
            <FormValidator>
                <DataAnnotationsValidator></DataAnnotationsValidator>
            </FormValidator>
            <FormItems>
                <FormAutoGenerateItems />
            </FormItems>
        </Syncfusion.Blazor.DataForm.SfDataForm>
    </div>
</div>

@code {

    public blazor_ecommerce_app.Models.RegisterModel Model { get; set; } = new();

    public async Task RegisterHandle(EditContext model)
    {

        try
        {
            var item = model.Model as blazor_ecommerce_app.Models.RegisterModel;
            await Mediator.Send(new DB.Modules.Authentication.Register.Register.Request()
                {
                    Email = item.Email,
                    Password = item.Password,
                    PasswordRepeat = item.PasswordRepeat,
                    UserName = item.Username
                });
        }
        catch (Exception ex)
        {
            Notifiaction.ShowToast(new Service.Notification.ToastOption()
                {
                    Content = ex.Message,
                     Type = Service.Notification.ToastType.error
                });
        }
    }

}
