@inherits Microsoft.AspNetCore.Components.ComponentBase

<AuthorizeView>
    <Authorized>
        @ChildContent
    </Authorized>
    <NotAuthorized>
        <RadzenAlert Variant="@Variant.Filled" AlertStyle="@AlertStyle.Danger" Size="@AlertSize.Large" Shade="Shade.Default" AllowClose=false>
            Musisz się zalogować aby kontynuować <br/>
            <a href="/login">Zaloguj się</a>.
        </RadzenAlert>
    </NotAuthorized>

</AuthorizeView>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}